#itemInfo {
    text-align: center;
    font-style: italic;
    color: #576b46;
    margin: -5px;
}

#borInfo {
    text-align: center;
    font-style: italic;
    color: #576b46;
    margin: -5px;
}

